<div class="jumbotron">
    <h1>COVID 19</h1>
    <p class="lead">Ranking dos países com maior número de casos ativos.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Erro</h2>
        <span>Não foi possível recuperar as informações para gerar o relatório. Por favor, tente novamente mais tarde.</span>
    </div>
</div>